services:
  app:
    build: .
    env_file:
      - envs/.env.docker
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/dayplannerdb
      - OLLAMA_BASE_URL=http://ollama:11434
    depends_on:
      - db
      - ollama
    restart: unless-stopped

  ollama:
    build:
      context: ./ollama
    ports:
      - "11434:11434"
    deploy:
      resources:
        limits:
          memory: 6G
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=dayplannerdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  postgres_data:
